* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #ffffff;
}


.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.login-container h1,
.login-container h5 {
  color: #313131;
  text-shadow: 1px 1px 2px #00000031;
}

.login-container h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

.login-container * {
  box-sizing: border-box;
}

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #79747E;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #1C1B1F;
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 0.5em;
  padding: 0.4em;
  background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

#signup-btn,
#verify-btn {
  all: unset;
  background-color: none;
  border: none;
  color: white;
}

.phone-btn {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 0.8em;
  background-color: #515DEF;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login-image {
  width: 20rem;
}

.dont-have-an-account {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

.otp-details{
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.red-text {
  color: #FF8682;
  font-weight: bold;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}